#header-placeholder {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #eac6b1;
}

/* =========================
   HEADER
========================= */

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo p {
    font-size: 28px;
    font-weight: 500;
}

.logo span {
    font-size: 30px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #444;
    font-size: 16px;
    transition: 0.3s;
}

.navbar a:hover {
    color: #a45d35;
}

.header-button {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn-favoritos {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    text-decoration: none;

    font-size: 23px;

    background: #fff;
    color: #d96b7b;

    border: 1px solid #ead5d9;

    transition: 0.2s ease;
}

.btn-favoritos:hover {
    transform: scale(1.08);
    background: #fdf1f3;
    border-color: #d96b7b;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        gap: 20px;
    }

    .header-button {
        justify-content: center;
        gap: 10px;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
}